.circle-svg {
  width: 260px;
  height: 260px;
  background: url('./circle.svg') no-repeat left center;
  background-size: cover;
  animation: scale 5s infinite linear;
}

@keyframes scale {
  0% {
    transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}


